* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(49, 51, 53, 0.3568627451) 0%, rgba(226, 235, 240, 0.5568627451) 100%), url("/img/fotoPrincipal.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.contenedor-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  position: fixed;
  top: 0rem;
  right: 0rem;
  height: 100vh;
  width: 35vh;
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(92, 89, 89, 0.9843137255) 0%, rgba(32, 32, 32, 0.952) 100%);
  box-shadow: 0 0 1rem #000;
  transition: transform 0.6s ease-in-out;
  transform: translate(110%);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.contenedor-nav img {
  height: 2rem;
}

.mostrar {
  transform: translate(0%);
}

.contenedor-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  overflow: hidden;
}

.items {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  font-size: 2rem;
  color: #fafafa;
  transition: ease-in-out 0.5s;
  height: 4rem;
  width: 100%;
  margin-right: -3rem;
}

.items:hover {
  background-color: #fafafa;
  width: 20rem;
  height: 4rem;
  border-radius: 1rem;
  color: #000;
}

.contenedorIcons {
  display: flex;
  gap: 0.3rem;
}

.active {
  background-color: #fafafa;
  width: 16rem;
  height: 4rem;
  padding: 0.1rem;
  border-radius: 1rem;
  color: #000;
}

.contenedorYo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6rem;
}
.contenedorYo h1 {
  font-size: 3rem;
  font-family: "Lora", serif;
  text-shadow: 0rem 0.1rem 0.2rem rgb(250, 250, 250);
}
.contenedorYo h2 {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  text-shadow: 0rem 0.1rem 0.2rem rgb(250, 250, 250);
}
.contenedorYo img {
  height: 30rem;
  width: 30rem;
  border-radius: 100%;
}

.hamburguer {
  position: fixed;
  top: 3rem;
  right: 3rem;
  height: 3.3rem;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 0.2rem;
  border-radius: 0.9999rem;
  box-shadow: 0 0 0.4rem #000;
  cursor: pointer;
}

.contenedorMain {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  padding: 5rem;
}
.contenedor h2 {
  font-size: 3rem;
  text-decoration: underline;
  font-family: "EB Garamond", serif;
  margin-bottom: 2rem;
}
.contenedor h3 {
  text-decoration: none;
}
.contenedor p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Pavanam", sans-serif;
}

.queHago, .contactameContainer {
  background: #333533;
}
.queHago h2, .contactameContainer h2 {
  color: #ffffff;
}
.queHago p, .contactameContainer p {
  color: #ffffff;
}

.img {
  height: 20rem;
  background: transparent !important;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.proyectos h2 {
  text-decoration: underline;
  font-family: "EB Garamond", serif;
}
.proyectos h3 {
  font-family: "Pavanam", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.proyectos p {
  margin-bottom: 1rem;
}

.contenedorProyectos {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.proyectoEstilos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgProyecto {
  height: 20rem;
  max-width: 100%;
  width: auto;
  border: solid 1px #080708;
  border-radius: 3rem;
}

.btnoes {
  display: flex;
  gap: 1rem;
}

.btn-proyectos {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-family: "EB Garamond", serif;
  font-weight: 700;
  color: #000;
  background: #f2f4f3;
  transition: ease 0.6s;
  border: solid 0.2rem #080708;
}

.btn-proyectos:hover {
  background: #080708;
  color: #f2f4f3;
}

.contactameContainer {
  padding: 4rem;
  width: 100%;
}

.contenedorImagenesContacto {
  display: flex;
  gap: 2rem;
}
.contenedorImagenesContacto img {
  height: 4rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  font-weight: 700;
  margin-bottom: 0;
}

@media screen and (max-width: 1075px) {
  .header {
    background-position-y: 50%;
    background-position-x: 50%;
  }
  .contenedor-items {
    padding: 0;
    z-index: 2;
  }
  .contenedorIcons {
    padding: 0.5rem;
  }
  .contenedor-nav {
    z-index: 1;
  }
  .queHago, .contactameContainer {
    padding: 5rem;
  }
  .queHago p, .contactameContainer p {
    margin: 0rem 24rem;
    text-align: center;
  }
  .contactameContainer p {
    margin: 1rem 0rem;
  }
}
@media (min-width: 390px) and (max-width: 574px) {
  .header {
    background-position-y: 50%;
    background-position-x: 50%;
  }
  .contenedorYo h1 {
    font-size: 2.4rem;
  }
  .contenedorYo h2 {
    font-size: 1.9rem;
  }
  .contenedorYo img {
    height: 25rem;
    width: 25rem;
  }
  .contenedor h2 {
    font-size: 2.4rem;
  }
  .contenedor h3 {
    font-size: 2.1rem;
  }
  .contenedor p {
    font-size: 2rem;
  }
  .queHago, .contactameContainer {
    padding: 5rem;
  }
  .queHago p, .contactameContainer p {
    margin: 0rem 13rem;
    text-align: center;
  }
  .proyectos h2 {
    font-size: 2.4rem;
  }
  .proyectos p {
    font-size: 2rem;
  }
  .footer p {
    font-size: 2rem;
  }
}
@media (min-width: 359px) and (max-width: 574px) {
  .header {
    background-position-y: 30%;
    background-position-x: 30%;
    background-image: linear-gradient(to top, rgba(49, 51, 53, 0.5882352941) 0%, rgba(226, 235, 240, 0.2549019608) 100%), url("/img/fotoPrincipal.jpg");
  }
  .contenedorYo h1 {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .contenedorYo h2 {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .contenedorYo img {
    height: 25rem;
    width: 25rem;
  }
  .contenedor h2 {
    font-size: 2.4rem;
  }
  .contenedor h3 {
    font-size: 2.1rem;
  }
  .contenedor p {
    font-size: 2rem;
  }
  .queHago, .contactameContainer {
    padding: 5rem;
  }
  .queHago p, .contactameContainer p {
    margin: 0rem 23rem;
    text-align: center;
  }
  .proyectos h2 {
    font-size: 2.4rem;
  }
  .proyectos p {
    font-size: 1.7rem;
  }
  .imgProyecto {
    height: 15rem;
  }
  .btn-proyectos {
    font-size: 1.3rem;
  }
  .contactameContainer p {
    margin: 1rem -4rem;
  }
  .footer p {
    font-size: 1.3rem;
  }
}
@media (min-width: 300px) and (max-width: 359px) {
  .header {
    background-position-y: 30%;
    background-position-x: 30%;
    background-image: linear-gradient(to top, rgba(49, 51, 53, 0.5882352941) 0%, rgba(226, 235, 240, 0.2549019608) 100%), url("/img/fotoPrincipal.jpg");
  }
  .contenedorYo {
    gap: 0.2rem;
  }
  .contenedorYo h1 {
    font-size: 1.5rem;
  }
  .contenedorYo h2 {
    font-size: 1.4rem;
  }
  .contenedorYo img {
    height: 22rem;
    width: 22rem;
  }
  .contenedor h2 {
    font-size: 2rem;
  }
  .contenedor h3 {
    font-size: 1.9rem;
  }
  .contenedor p {
    font-size: 1.7rem;
  }
  .queHago, .contactameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  .queHago p, .contactameContainer p {
    margin: 0rem 15rem;
    text-align: start;
  }
  .carousel img {
    height: auto;
  }
  .proyectos h2 {
    font-size: 2.4rem;
  }
  .proyectos p {
    font-size: 1.7rem;
  }
  .btones {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .imgProyecto {
    height: 15rem;
  }
  .btn-proyectos {
    font-size: 1rem;
    text-align: center;
  }
  .contactameContainer p {
    margin: 1rem -4rem;
  }
  .footer p {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
